html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
#camera, #camera-view, #camera-sensor, #camera-output, #overlay, #hand-overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#camera-view, #camera-sensor, #camera-output {
    transform: scaleX(-1);
}
#overlay, #hand-overlay {
    mix-blend-mode: multiply;
    z-index: 2;
}

.camera-output-started {
    height: 300px !important;
    width: 300px !important;
    transition: all 0.5s ease-in;
    box-sizing: border-box;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    top: 20px;
    right: 20px;
}

button, #score-display {
    width: 200px;
    background-color: black;
    color: white;
    font-size: 32px;
    border-radius: 30px;
    border: none;
    outline: 0;
    padding: 15px 25px;
    text-align: center;
    position: fixed;
    z-index: 3;
}
#start-button {
    bottom: 50px;
    left: calc(50% - 250px);
}
#stop-button {
    bottom: 50px;
    left: calc(50% + 50px);
}
#score-display {
    top: 50px;
    left: calc(50% - 100px);
}
#middle-display {
    width: 200px;
    height: 200px;
    background-color: #dddddd77;
    color: black;
    font-size: 48px;
    font-weight: bold;
    border-radius: 100px;
    border: none;
    outline: 0;
    padding: auto;
    text-align: center;
    position: fixed;
    z-index: 3;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
}
#middle-text {
    margin-top: 69px;
    height: 100%;
}
#info-display {
    display: flex;
    flex-direction: column;
    width: 50%; 
    height: 50%;
    background-color: #aaaaaacc;
    color: black;
    font-size: 36px;
    border-radius: 25px;
    outline: 0;
    z-index: 3;
    position: fixed;
    top: 25%;
    left: 25%;
    text-align: center;
    align-items: center;
    justify-content: center;
    line-height: 100px;
}
.hide {
    visibility: hidden;
}

#test-canvas {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 2;
    border: solid 3px white;
    transform: scaleX(1);
    height: 300px !important;
    width: 300px !important;
    top: 20px;
    right: 20px;
}