html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
#camera, #camera-view, #camera-sensor, #camera-output, #overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#camera-view, #camera-sensor, #camera-output {
    transform: scaleX(-1);
}
#overlay {
    z-index: 2;
}

.camera-output-started {
    height: 300px !important;
    width: 300px !important;
    transition: all 0.5s ease-in;
    box-sizing: border-box;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    top: 20px;
    right: 20px;
}

button, #seq-display {
    width: 200px;
    background-color: black;
    color: white;
    font-size: 32px;
    border-radius: 30px;
    border: none;
    outline: 0;
    padding: 15px 25px;
    text-align: center;
    position: fixed;
    z-index: 3;
}
#start-button {
    bottom: 50px;
    left: calc(50% - 250px);
}
#stop-button {
    bottom: 50px;
    left: calc(50% + 50px);
}
#seq-display {
    top: 50px;
    left: calc(50% - 100px);
}

#test-canvas {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 2 !important;
    border: solid 3px white;
    transform: scaleX(1);
    height: 300px !important;
    width: 300px !important;
    top: 20px;
    right: 20px;
}